<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The Red Book</title>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/static/css/grayscale.min.css" rel="stylesheet">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />


  </head>
  <style>
            body {
                margin: 0;
                padding: 0;
            }
            .mp {
              background-color:#013252;
            }
            .mpdv {
              padding-bottom: 40px;
              padding-top: 40px;
            	margin-left: 65px;
              margin-right: 50px;
            }
            .bkg {
              background-image: url('/static/img/bck.jpg');
              background-size: 1400px 1000px;
              background-repeat: no-repeat;
            }
            #map {
        width: 1200px;
        height: 1000px;
        border-style: groove;
        border-width: 9px;
        border-radius: 0px;	
        border-color:lightblue;
      }
      .marker {
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}


      </style>

  <body id="page-top">
 <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"> Home </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#map">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">  The Red Book </h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5"> An Education Website About Endangered Species and the Efforts to Save Them </h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center bkg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="mb-4" style="color:black"><strong> SAVE THEM! </strong></h2>
            <p style="color:black"> “One saw a bird dying, shot by a man. It was flying with rhythmic beat and beautifully, with such freedom and lack of fear. And the gun shattered it; it fell to the earth and all the life had gone out of it. A dog fetched it, and the man collected other dead birds. He was chattering with his friend and seemed so utterly indifferent. All that he was concerned with was bringing down so many birds, and it was over as far as he was concerned. They are killing all over the world. Those marvellous, great animals of the sea, the whales, are killed by the million, and the tiger and so many other animals are now becoming endangered species. Man is the only animal that is to be dreaded.” <br/> <br/>
            <font style="color:black">― Jiddu Krishnamurti, Krishnamurti to Himself: His Last Journal </font></p>
               
          </div>
        </div>
        <br/><br/><br/><br/><br/><br/><br/>
         <h1 class="text-white mb-4"><b> About the Map </b></h1>
         <h6 class="text-white-50"><b> The map depicts the endangered species that are present on this earth mapped geographically. Hover over the map and click over various animals to find more about them. </b></h6>
         <br/><br/>
        
      </div>
    </section>

    <!-- Projects Section -->
    <section class="mp">
      <div class="container mpdv">
         <div id='map'></div>
          </div>
  

        
        <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZXJpazM1IiwiYSI6ImNqYm0yYTZmaTRya2gycnFmYndvanFwMzIifQ.HeBrixh5h2c1qRLhve7lIg';
    if (!mapboxgl.supported()){
        alert("Your browser does not support Mapbox GL");
    }
    else {
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/erik35/cjkpv1eby76nd2rpjqg4x8dk0',
        center: [1.33,30.14],
        zoom: 1.8
      });
    }

    map.addControl(new mapboxgl.NavigationControl());

    var geojson = {
        "features": [
            {
              "type": "Feature",
              "properties": {
                  "title": "Red Panda",
                  "description": "The red panda is slightly larger than a domestic cat with a bear-like body and thick russet fur",
                  "icon": "Panda",
                  "iconUrl": "static/images/panda2.svg"
            },
              "geometry": {
              "coordinates": [
                  87.696945,
                  28.741285
              ],
              "type": "Point"
              },
              "id": "0a27f4417134be5cbcc018c8f5fdb3c9"  
          },
          {
              "type": "Feature",
              "properties": {
                  "title": "Bornean Orangutan",
                  "description": "The Bornean orangutan differs in appearance from the Sumatran orangutan, with a broader face and shorter beard and also slightly darker in color",
                  "icon": "Orangutan",
                  "iconUrl": "static/images/orangutan.svg"
                },
              "geometry": {
              "coordinates": [
                  113.8,
                  -1.5
              ],
              "type": "Point"
            },
              "id": "0c09ac2125b5e59a48ec7062fb8fb49a"
          },
          {
          "type": "Feature",
          "properties": {
          "title": "Sumatran Elephant",
          "description": "Sumatran elephants feed on a variety of plants and deposit seeds wherever they go, contributing to a healthy forest ecosystem",
          "icon": "Elephant",
          "iconUrl": "static/images/elephant.svg"
        },
          "geometry": {
          "coordinates": [
              103.170731,
              -3.616673
          ],
          "type": "Point"
        },
          "id": "0d737e4acf3801930f0153300fd0ef77"
      },
      {
          "type": "Feature",
      "properties": {
        "title": "Bonobo",
        "description": "Bonobos are usually a bit smaller, leaner and darker than chimpanzees",
        "icon": "Chimpanzee",
        "iconUrl": "static/images/chimpanzee2.svg"
      },
      "geometry": {
        "coordinates": [
          22.800061,
          -2.362435
        ],
        "type": "Point"
      },
      "id": "28d3c2ff818debff9b6d175f6a20c850"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Narwhal",
        "description": "The narwhal looks like a cross between a whale and a unicorn with its long, spiraled tusk jutting from its head",
        "icon": "Narwhal",
        "iconUrl": "static/images/narwhal.svg"
      },
      "geometry": {
        "coordinates": [
          -62.059887,
          68.806353
        ],
        "type": "Point"
      },
      "id": "429a6b00a2e515277b5898edf78c6992"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Yangtze Finless Porpoise",
        "description": "The Yangtze River, the longest river in Asia, used to be one of the only two rivers in the world that was home to two different species of dolphin—the Yangtze finless porpoise and the Baiji dolphin",
        "icon": "Dolphin",
        "iconUrl": "static/images/dolphin.svg"
      },
      "geometry": {
        "coordinates": [
          120.879232,
          31.823618
        ],
        "type": "Point"
      },
      "id": "49dad5d19e06da158ee57c42e62921a1"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Marine Iguana",
        "description": "One of the main nesting zones for iguanas is located on a central tourist beach in the waterfront area of Puerto Villamil on Isabela Island",
        "icon": "Iguana",
        "iconUrl": "static/images/iguana.svg"
      },
      "geometry": {
        "coordinates": [
          -91.560555,
          0.001068
        ],
        "type": "Point"
      },
      "id": "4ebf000c8ad706c4c729d3ff288bdd38"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Great White Shark",
        "description": "The great white shark is the world's largest known predatory fish. It has 300 teeth, yet does not chew its food",
        "icon": "Shark",
        "iconUrl": "static/images/shark.svg"
      },
      "geometry": {
        "coordinates": [
          -113.320841,
          20.074525
        ],
        "type": "Point"
      },
      "id": "5f5703de9a5de5f85ca871d7221fac41"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Dugong",
        "description": "Dugongs are cousins of manatees and share a similar plump appearance, but have a dolphin fluke-like tail",
        "icon": "Sea Cow",
        "iconUrl": "static/images/seacow.svg"
      },
      "geometry": {
        "coordinates": [
          -146.759639,
          10.285395
        ],
        "type": "Point"
      },
      "id": "627d262f4ee1532eea428dfaf75353af"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "African Wild Dog",
        "description": "The largest populations remain in southern Africa and the southern part of East Africa (especially Tanzania and northern Mozambique)",
        "icon": "Dog",
        "iconUrl": "static/images/dog1.svg"
      },
      "geometry": {
        "coordinates": [
          37.781,
          -12.251
        ],
        "type": "Point"
      },
      "id": "6452ab79a30f4953be060dc1af3d6282"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Beluga",
        "description": "Belugas are extremely sociable mammals that live, hunt and migrate together in pods, ranging from a few individuals to hundreds of whales",
        "icon": "Whale",
        "iconUrl": "static/images/whale.svg"
      },
      "geometry": {
        "coordinates": [
          28.70544,
          74.82084
        ],
        "type": "Point"
      },
      "id": "6d99a989bddb8d5629e20f5ef55d8905"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Polar Bear",
        "description": "Polar bears are classified as marine mammals because they spend most of their lives on the sea ice of the Arctic Ocean",
        "icon": "Polar Bear",
        "iconUrl": "static/images/polarbear.svg"
      },
      "geometry": {
        "coordinates": [
          67.261153,
          -68.994583
        ],
        "type": "Point"
      },
      "id": "7293fd7660dffdb0e197b0cac6d8cb13"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Bluefin Tuna",
        "description": "Bluefin tuna are made for speed: built like torpedoes, have retractable fins and their eyes are set flush to their body",
        "icon": "Fish",
        "iconUrl": "static/images/fish.svg"
      },
      "geometry": {
        "coordinates": [
          -20.686324,
          -19.645457
        ],
        "type": "Point"
      },
      "id": "80d3829c30b5650ff180333f6e4c6c41"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Bigeye Tuna",
        "description": "Bigeye tuna are generally smaller than bluefin and larger than yellowfin",
        "icon": "Fish",
        "iconUrl": "static/images/fish.svg"
      },
      "geometry": {
        "coordinates": [
          76.633086,
          -16.660595
        ],
        "type": "Point"
      },
      "id": "8bdea746472c12e02fc40b883cbcfe4a"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Sea Lions",
        "description": "Sea lions haul out in large colonies on rocks and sandy shores on the Islands",
        "icon": "Sea Lions",
        "iconUrl": "static/images/sealion.svg"
      },
      "geometry": {
        "coordinates": [
          -90.679715,
          -3.857446
        ],
        "type": "Point"
      },
      "id": "9755fd91ca32686fc2f8ca3a1bc66066"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Rockhopper Penguin",
        "description": "They were named for their distinctive hopping movements over the rocky hills and cliffs where they live and breed",
        "icon": "Penguin",
        "iconUrl": "static/images/penguin.svg"
      },
      "geometry": {
        "coordinates": [
          167.842401,
          -46.993105
        ],
        "type": "Point"
      },
      "id": "9cff610f7072771792a29ea6552ef30c"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Malayan Tiger",
        "description": "Their Latin name—Panthera tigris jacksoni—honors Peter Jackson, the famous tiger conservationist",
        "icon": "Tiger",
        "iconUrl": "static/images/tiger.svg"
      },
      "geometry": {
        "coordinates": [
          99.399,
          8.3607
        ],
        "type": "Point"
      },
      "id": "abbf02c899558a1295fa487730e757c2"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Blue Whale",
        "description": "The blue whale is the largest animal on the planet, weighing as much as 200 tons (approximately 33 elephants)",
        "icon": "Whale",
        "iconUrl": "static/images/whale.svg"
      },
      "geometry": {
        "coordinates": [
          -84.934333,
          -50.592148
        ],
        "type": "Point"
      },
      "id": "b1fbe7734f1150e826cc306a25f0f42c"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Hawksbill Turtle",
        "description": "Hawksbills are found mainly throughout the world's tropical oceans, predominantly in coral reefs",
        "icon": "Turtle",
        "iconUrl": "static/images/turtle.svg"
      },
      "geometry": {
        "coordinates": [
          52.514071,
          -16.068374
        ],
        "type": "Point"
      },
      "id": "b3ea96506cc24da6196411d016742767"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Black Rhino",
        "description": "Black rhinos are the smaller of the two African rhino species",
        "icon": "Rhino",
        "iconUrl": "static/images/rhino.svg"
      },
      "geometry": {
        "coordinates": [
          17.39212,
          -21.186606
        ],
        "type": "Point"
      },
      "id": "b6537152c726e1329ce4e04fe57dcbb6"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Jaguar",
        "description": "Jaguars are strong swimmers and climbers and require large areas of tropical rain forest and stretches of riverbank to survive",
        "icon": "Jaguar",
        "iconUrl": "static/images/tiger.svg"
      },
      "geometry": {
        "coordinates": [
          -61.885553,
          -0.717165
        ],
        "type": "Point"
      },
      "id": "bca226ef72b8f9f2f07564f772ba27f4"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Hunphead Wrasse",
        "description": "The humphead wrasse is an enormous coral reef fish—growing over six feet long—with a prominent bulge on its forehead",
        "icon": "Fish",
        "iconUrl": "static/images/fish.svg"
      },
      "geometry": {
        "coordinates": [
          140.613458,
          0.373865
        ],
        "type": "Point"
      },
      "id": "c0b64d07766da52ced6c3f7d4a849408"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Amur Leopard",
        "description": "The Amur leopard is also known as the Far East leopard, the Manchurian leopard or the Korean leopard",
        "icon": "Leopard",
        "iconUrl": "static/images/tiger.svg"
      },
      "geometry": {
        "coordinates": [
          126.94,
          45.78
        ],
        "type": "Point"
      },
      "id": "c1f22af5dcda7c9b8a009d3ed8d2b3ac"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Black Spider Monkey",
        "description": "The black spider monkey—also known as the Guiana or red-faced spider monkey—is found in eastern South America in areas north of the Amazon River",
        "icon": "Monkey",
        "iconUrl": "static/images/monkey.svg"
      },
      "geometry": {
        "coordinates": [
          -51.333701,
          -13.235857
        ],
        "type": "Point"
      },
      "id": "c526961d13ccda680380218f621018ba"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Vaquita",
        "description": "Vaquita, the world’s most rare marine mammal, is on the edge of extinction",
        "icon": "Dolphin",
        "iconUrl": "static/images/dolphin.svg"
      },
      "geometry": {
        "coordinates": [
          -113.959,
          30.648
        ],
        "type": "Point"
      },
      "id": "ccf9278205541c3cde30ff246c7434b6"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Cross River Gorilla",
        "description": "This subspecies of the western gorilla is very similar in appearance to the more numerous western lowland gorilla",
        "icon": "Gorilla",
        "iconUrl": "static/images/gorilla.svg"
      },
      "geometry": {
        "coordinates": [
          11.31332,
          11.995875
        ],
        "type": "Point"
      },
      "id": "ce1ec255d9f1f1b201c3b7a2f5f9e4e3"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Plain Bisons",
        "description": "Symbols of strength and determination, bison are Ice Age survivors",
        "icon": "Bison",
        "iconUrl": "static/images/bison.svg"
      },
      "geometry": {
        "coordinates": [
          -106.041275,
          45.527259
        ],
        "type": "Point"
      },
      "id": "cf6ebbee53bc39b9f24115690de38d9c"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Snow Leopard",
        "description": "The snow leopard’s powerful build allows it to scale great steep slopes with ease",
        "icon": "Leopard",
        "iconUrl": "static/images/tiger.svg"
      },
      "geometry": {
        "coordinates": [
          73.961384,
          39.680533
        ],
        "type": "Point"
      },
      "id": "d0778a0932c4f4a08b2be99c16851b1a"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Green Turtle",
        "description": "The green turtle is one of the largest sea turtles and the only herbivore among the different species",
        "icon": "Turtle",
        "iconUrl": "static/images/turtle.svg"
      },
      "geometry": {
        "coordinates": [
          -87.651735,
          0.464004
        ],
        "type": "Point"
      },
      "id": "d510cce37aa5fd34dd380ffb662b8b9d"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Saolo",
        "description": "Saola (pronounced: sow-la) are recognized by two parallel horns with sharp ends, which can reach 20 inches in length",
        "icon": "Deer",
        "iconUrl": "static/images/deer.svg"
      },
      "geometry": {
        "coordinates": [
          104.885054,
          19.285859
        ],
        "type": "Point"
      },
      "id": "d579eb182925fc9f723b77275de28155"
    },
    {
      "type": "Feature",
      "properties": {
        "title": "Indian Elephant",
        "description": "Indian elephants may spend up to 19 hours a day feeding and they can produce about 220 pounds of dung per day while wandering over an area that can cover up to 125 square miles",
        "icon": "Elephant",
        "iconUrl": "static/images/elephant.svg"
      },
      "geometry": {
        "coordinates": [
          76.878874,
          11.187109
        ],
        "type": "Point"
      },
      "id": "f5e27db55ed157e855f1fbd3e0ef7e63"
    }
  ],
  "type": "FeatureCollection"
}


geojson.features.forEach(function(marker) {
    var ele = document.createElement('div');
    ele.className = 'marker';
    ele.style.backgroundImage = 'url(' + marker.properties.iconUrl + ')';
    new mapboxgl.Marker(ele)
    .setLngLat(marker.geometry.coordinates)
    .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h2 style="color:indianred">' + marker.properties.title + '</h2><p>' + marker.properties.description + 
    '<form action="/animal" method="POST" id="myForm"><input type="hidden" id="xyz" name="species" value="' + marker.properties.title+ '"/></p><input type="submit" id="ani" value="Know More" class="btn btn-info"></form>'))
    .addTo(map);
});

window.onload = function(){
  ani = document.getElementById('ani');
  form = document.getElementById('myForm');
  inp = document.getElementById('xyz');
  ani.onclick() = function() {
    form.action = '/animal'
  }
}

</script>
</div>
</section>
    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">Hostel-13 BIT Mesra</div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">satyabrat35@gmail.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+91 9939284889</div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://github.com/Satyabrat35/Blue-Planet" target="_blank" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        The Red Book
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/grayscale.min.js"></script>

  </body>

</html>
